.input {
    border-radius: 0;
    border: #222222 solid 2px;
    padding: 5px;
}

button {
    border-radius: 0;
    border: #444444 solid 2px;
    padding: 0px;
    background: #444444;
    color: #efefef;
    text-align:center; vertical-align:middle
}

body{
    margin:0;
    padding:0;
    font-weight:400;
    /*text-shadow:1px 1px 1px rgba(100,100,100,0.4);*/
    font-family: light, sans-serif;
}

@font-face{
    font-family:light;
    src:url(../vendor/SeroPro-Light.otf);
}